body{
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 5%;
    padding-right: 5%;
	background: linear-gradient(45deg, #844646, #56477ed4, #5fb185, #8a933f);
	background-size: 500% 400%;
	animation: gradient 12s ease infinite;
	height: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.top{
    display: flex;
    flex-direction: row;
}
.a{
    display: flex;
    flex-direction: column-reverse;
}
.but{
    height: 35px;    
    width: 30%;
    background-color: transparent;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border-width: 5px;
    border-color: black;
    cursor: pointer;
}
h1{
    font-size: 500%;
    margin: 0%;
    height: 100%;
}
.profile{
    width: 315px;
    height: 420px;
}
h2{
    font-size: 300%;
    margin-bottom: 1%;
}
.about{
    font-size: larger;
    margin-top: 0%;
    width: 170%;
}
.social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 3%;
    padding-top: 3%;
}
.github{
    height: 40px;
    width: 345px;
    background-color: orangered;
    color: black;
    font-size: 30px;
    border-width: 1px; 
    cursor: pointer;
}
.linkedin{
    height: 40px;
    width: 345px;
    background-color: rgb(32, 76, 189);
    color: black;
    font-size: 30px;
    border-width: 1px; 
    cursor: pointer;
}
h3{
    display: flex;
    justify-content: center;
    font-size: 300%;
    margin-bottom: 0%;
}
.projects{
    display: flex;
    flex-direction: row;
    padding-bottom: 3%;
}
h4{
    display: flex;
    justify-content: center;
    font-size: 110%;
}
.new{
    padding-left: 5.5%;
    padding-right: 5.5%;
}
.img{
    display: flex;
    justify-content: center;
    width: 100%;
}

img{
    width: 50%;
}

h5{
    font-size: 300%;
    width: 80%;
    -webkit-text-stroke: 2px black;
    color: transparent;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: x-large;
}
.short{
    display: flex;
    flex-direction: column;
}
.sh{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.s{
    display: flex;
    flex-direction: column;
}
input{
    font-size: x-large;
    width: 300px;
    margin-bottom: 1%;
    background-color: aquamarine;
}
textarea{
    font-size: x-large;
    background-color:aquamarine;
}
.submit{
    width: 10%;
    height: 10%;
    font-size: 2rem;
    margin-top:  1%;
    margin-bottom: 3%;
    background-color: aquamarine;
    color: black;
    cursor: pointer;
}

@media (orientation: landscape) and (min-width: 50rem){
    .profile{
        width: 450px;
        height: 600px;
    }
    .about{
        width: 100%;
    }
    .but{        
        width: 150px;
    }
    h4{
        font-size: 150%;
    }
    .sh{
        width: 50%
    }
    textarea{
        width: 50%;
    }
}
