body{
    display: inline-block;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(152,152,152);
    width: 90%;
    padding-left: 4%;
    padding-right: 4%;
    position: relative;
} 

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.top{
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: row;
}
.a{
    display: flex;
    flex-direction: column-reverse;
}
.buttons{
    width: 100%;
}
.but{
    height: 35px;    
    width: 30%;
    max-width: 200px;
    background-color: transparent;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border-width: 5px;
    border-color: black;
    background: linear-gradient(45deg, #844646, #56477ed4, #5fb185, #8a933f,  #5fb185, #56477ed4, #844646);
    background-size: 1000% 100%;
    animation: gradient 10s ease infinite;
    cursor: pointer;
}
h1{
    font-size: 470%;
    margin: 0%;
    height: 100%;
}
.profile{
    width: 50%;
    height: 50%;
    position:-ms-page;
}
.linkedin{
    width: 100px;
}
.github{
    width: 100px;
}
h2{
    font-size: 300%;
    margin-bottom: 1%;
}
.about{
    font-size: larger;
    margin-top: 0%;
    line-height: 3rem;
    width: 90%;
}
.social{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 3%;
    padding-top: 3%;
}
.github{
    height: 40px;
    width: 345px;
    background-color:  #ff9d00;
    background-size: 1000% 100%;
    animation: gradient 10s ease infinite;
    color: black;
    font-size: 30px;
    border-width: 1px; 
    cursor: pointer;
}
.linkedin{
    height: 40px;
    width: 345px;
    background-color: skyblue;
    color: black;
    font-size: 30px;
    border-width: 1px; 
    cursor: pointer;
}
.limg{
    width: 25px;
    height: 25px;
}
.gimg{
    width: 25px;
    height: 25px;
}
h3{
    display: flex;
    justify-content: center;
    font-size: 300%;
    margin-bottom: 0%;
}
.projects{
    display: flex;
    flex-direction: row;
    padding-bottom: 3%;
}
h4{
    display: flex;
    justify-content: center;
    font-size: 110%;
}
.new{
    padding-left: 5.5%;
    padding-right: 5.5%;
}
.img{
    display: flex;
    justify-content: center;
    width: 100%;
}

img{
    width: 50%;
}

h5{
    font-size: 300%;
    width: 80%;
    -webkit-text-stroke: 2px black;
    color: transparent;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: x-large;
}
.oneone{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.one{
    display: flex;
    flex-direction: column;
}

input{
    font-size: x-large;
    margin-bottom: 1%;
    background-color: rgb(250, 175, 175);
}
textarea{
    font-size: x-large;
    background-color: rgb(250, 175, 175);
}
.submit{
    width: 20%;
    height: 10%;
    font-size: 2rem;
    margin-top:  1%;
    margin-bottom: 3%;
    background-color: rgb(250, 175, 175);
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

@media (orientation: landscape) and (min-width:59rem){

    h4{
        font-size: 150%;
    }
    .profile{
        width: 30%;
        height: 30%;
    }
    form{
        width: 42rem;
    }
    textarea{
        width: 100%;
    }
}